<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=ZCOOL+QingKe+HuangYou&display=swap" rel="stylesheet">
    <title>Document</title>
  </head>

  <body>
    <h1>Welcome to gitPub</h1>
    <ul>
      {% for i in drinks %}

      <li>
       <a href="http://localhost:3000/drink/{{forloop.index0}}">  {{ i.name }}</a>
      </li>
      {% endfor %}
    </ul>
  </body>
  <style>
    body {
      background-color: cadetblue;
      color: rgb(10, 17, 31);
      text-align: center;
      font-family: 'ZCOOL QingKe HuangYou', cursive;
      filter: drop-shadow(10px 10px 5px black);
    }
   h1 {
     font-size: 50px;
   }
   li {
     list-style-type: none;
     font-size: 30px;
     font-family: 'ZCOOL QingKe HuangYou', cursive;
     color:wheat;
   }
   a {
     color: wheat;
     text-decoration: none;
   }
 
  </style>
</html>
