<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title></title>
</head>

<body>
    <h1>Welcome to gitPub</h1>
   
</body>
<style>
    body { background-color:rgb(255, 153, 0); color:white}
    
  </style>
</html>