<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=ZCOOL+QingKe+HuangYou&display=swap" rel="stylesheet">
    <title>Document</title>
  </head>

  <body>
       <h1>Welcome to gitPub</h1>
       <h2> {{id.name}}</h2>
       <h3>Price: {{id.price}}</h3>
       <br>
       <img src="{{id.image}}.png"/>
       <br>
       <h4>  <a href="http://localhost:3000/drinks/">back</a></h4>
  </body>
  <style>
    body {
      background-color: rgb(255, 120, 30);
      color: rgb(0, 0, 0);
      text-align: center;
      font-family: 'ZCOOL QingKe HuangYou', cursive;
      filter: drop-shadow(10px 10px 5px black);
    }
    a {
      color: wheat;
      text-decoration: none;
    }
    h4 {
      font-size: 30px;
    }
  
    h2, h3 {
      color: wheat;
      font-size: 30px;
    }
    h1 {
      font-size: 75px;
    }
    img{
        width:50%;
        height:50%;
        border-radius: 10%;
    }
  </style>
</html>
